// Aquí puedes sobrescribir las variables predeterminadas de Bootstrap.
// Por ejemplo:
// $primary: #0dcaf0;
// $body-bg: #000;
// $body-color: #fff;

// Definimos el color primario que ya habíamos establecido
$primary: #0dcaf0;

// Otros colores o variables que quieras sobrescribir
$dark: #212529;
$light: #f8f9fa;
