.floatingButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000; /* Ensure it's above other content */
  border-radius: 8px 8px 0 0; /* Make it a tab at the bottom */
  width: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #0dcaf0;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.floatingButton:hover {
  background-color: #0dcaf0;
  color: white;
  filter: drop-shadow(0 0 5px #0dcaf0);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%); /* Start off-screen below */
  transition: transform 0.5s ease-out; /* Smooth transition */
  z-index: 9999; /* Below the button */
}

.footerVisible {
  transform: translateY(0); /* Slide into view */
}

.footerLaserLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Thickness of the line */
  background: linear-gradient(to right, transparent, var(--primary-color), transparent); /* Laser gradient */
  animation: laser-sweep 3s infinite linear;
  opacity: 0.7;
}